<p id="notice"><%= notice %></p>

<p>
  <strong>Latitud:</strong>
  <%= @point.latitud %>
</p>

<p>
  <strong>Logitud:</strong>
  <%= @point.logitud %>
</p>

<p>
  <strong>Address:</strong>
  <%= @point.address %>
</p>

<p>
  <strong>Info:</strong>
  <%= @point.info %>
</p>

<p>
  <strong>Title:</strong>
  <%= @point.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @point.subtitle %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
